[Unit]
Description=DISTIL MPA NOOP
StartLimitBurst=3
StartLimitInterval=24h

[Service]
Restart=always
RestartSec=1m
ExecStart=/usr/bin/docker run \
  --name %p \
  -e DISTIL_MONGO_ADDR="cm1.smartgrid.store:4410" \
  -e DISTIL_BTRDB_ADDR="cm1.smartgrid.store:4410" \
  -e SOURCECODE="github.com/go-distil/examples/2-frequency" \
  -e REF_PMU_PATH="/REFSET/LBNL/a6_bus1" \
  btrdb/distiller
ExecStop=/usr/bin/docker stop -t 5 %p ; /usr/bin/docker rm -f %p
